@import url('https://unpkg.com/leaflet@1.6.0/dist/leaflet.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-container {
  width: 100vw;
  height: 70vh;
}

.scroll-list {
  width: 100vw;
  height: 30vh;
  overflow:auto;
  display: block;
}

.item {
  background: linear-gradient(#fff, #eee);
  line-height: 30px;
  padding: 0 10px;
}
